
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<ul class="content-home grid-container">
    <div class="row"></div>
        <li style="list-style:none; margin-left:250px;" class="col-sm-9" >
            <a style="text-decoration:none;width:500px;" href="@Url.Action("Details","DONGHO",new {id=Model.MaSanPham })" title="">
                <div class="bannerBox">
                    <img src="~/Images/@Model.AnhBia" class="Model-img" title="" alt="@Model.TenSanPham" width="70%" height="80%" />
                    <div style="text-align:justify">
                        <h5 style="text-align:center">@Model.TenSanPham</h5>
                        <h3 style="font:bold;text-align:center;color:#c48c46;">@Model.Giaban VNĐ</h3>
                    </div>
                </div>
            </a>
            <p> @Model.MoTa </p>
        </li>
</ul>
